# Using R with BigQuery

In [2]:
library(bigrquery)

### Authenticate to BigQuery

In [3]:
bq_auth(use_oob = TRUE)

Invalid encoding utf8: defaulting to UTF-8.

### Run a query

In [4]:
projectid = "mlops-dev-100"

In [5]:
sql <- "SELECT * FROM `bigquery-public-data.usa_names.usa_1910_current` LIMIT 10"

In [6]:
df <- query_exec(sql, projectid, use_legacy_sql = FALSE)

178.0 megabytes processed

In [7]:
df

   state gender year name      number
1  OH    F      1910 Mary      1099
2  OH    F      1910 Helen      698
3  OH    F      1910 Dorothy    487
4  OH    F      1910 Ruth       457
5  OH    F      1910 Margaret   452
6  OH    F      1910 Mildred    395
7  OH    F      1910 Anna       290
8  OH    F      1910 Florence   278
9  OH    F      1910 Elizabeth  261
10 OH    F      1910 Marie      242